{% extends 'base.html.twig' %}

{% block title %}Add movie{% endblock %}

{% block body %}
   <h1 class="text-center">Add movie</h1>
   <div class="row justify-content-center">
      <div class="col-md-6">
         {{ form_errors(movieForm) }}
         {{ form(movieForm,{'attr': {'novalidate': 'novalidate'}}) }}
      </div>
   </div>


{% endblock %}