{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <a href="{{ path('add_movie') }}" class="btn btn-primary">Add movie</a>
    <a href="{{ path('add_person') }}" class="btn btn-secondary">Add person</a>
{% endblock %}
