{% extends 'base.html.twig' %}

{% block title %}Add person{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
    <h1 class="text-center">Add person</h1>
{{ form(personForm) }}
    </div>
</div>
{% endblock %}
